/* .show{
    background-color: red !important;
} */
/* .example{
    width: 50px;
    background-color: red;
    border-radius: 50px;
    height: 50px;

} */
/* .hidden{
    display: none;
    background-color: blue;
} */